<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{.Title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="icon" href="/img/fiber_v2_logo.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <img id= "logo" src="/img/fiber_v2_logo.svg">
    <h1 class="heading">{{.Message}}</h1>
    <p><b>Fiber</b> is an <a href="https://github.com/expressjs/express" target="_blank">Express</a> inspired <b>web framework</b> 
    build on top of <a href="https://github.com/valyala/fasthttp" target="_blank">Fasthttp</a>, the <b>fastest</b> HTTP engine 
    for <a href="https://golang.org/doc/" target="_blank">Go</a>.<br> Designed to <b>ease</b> things up for <b>fast</b> development with 
    <b>zero memory allocation</b><br/> and <b>performance</b> in mind. Check out the <a href="https://fiber.wiki/">Fiber documentation.</a></p>
    <h2 class="h2">Demo Links</h2>
    <ul>
      <li><a href="/random">404</a></li>
      <li><a href="/panic">Recover</a></li>
      <li><a href="/json" target="_blank">JSON</a></li>
    </ul>
  </div>

  <script src="/js/app.js"></script>
</body>

</html>