*, body {
  padding: 0;
  margin: 0;
  font: 1em Content-font, Roboto, sans-serif;
  color: #3B454E;
  text-align: center;
  line-height: 1.5em;
}

a {
  color: #29acd7;
  text-decoration: underline;
  font-weight: 500;
}

b{
  font-weight: 700;
}

img {
  width: 100%;
  max-width: 600px;
}

.container {
  width: 80%;
  margin: 60px auto;
}

#logo {
  height: 150px;
  display: block;
  margin: auto;
}

.heading {
  display: block;
  font-size: 2em;
  text-align: center;
  font-weight: 900; 
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; 
  color: #29acd7;
}

.h2 {
  display: block;
  font-size: 1.5em;
  text-align: center;
  font-weight: 900; 
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; 
  color: #3B454E;
}

ul li {
  display: inline;
  padding: 15px 25px;
}